button {
    margin-bottom: 12px;
}

.secret-word {
    color: green;
}

.secret-word-hidden {
    color: red;
}

.log-list {
    list-style-type: none;
    border: solid 1px black;
    padding: 10px;
    font-size: 10px;
    line-height: 12px;
}